<div>
	<h1>MusicBingo</h1>
	<button onclick="window.location.href = '/';">Refresh</button
	><span>Who might this be?</span>
	<form action="/playlist" method="post">
		<label for="playlist">Your spotify playlist link: </label>
		<input type="text" id="playlist" name="playlist" />
		<input type="submit" value="Make" />
		<label> Remember, only public playlists</label>
	</form>
	{{#if artistTables}}
	<table>
		{{#each artistTables}}
		<tr>
			{{#each this}}
			<td>
				<img class="artist" src="{{images.0.url}}" />
				<div class="underline">
					<div class="guess">
						<span>Artist / Song:</span>
						<br />
						<br />
					</div>
					<span class="artid">{{ id }}</span>
				</div>
			</td>
			{{/each}}
		</tr>
		{{/each}}
	</table>

	{{else}}
	<h2>Click refresh to make the bingorama happen!</h2>
	{{/if}}
</div>

<script></script>
