<div>
	<h1>MusicBingo</h1>
	<form method="GET" action="/">
		<button onclick="window.location.href = '/';">Refresh</button>
	</form>
	{{#if artistTables}}
	<table>
		<thead>
			<th>Who might this be?</th>
		</thead>
		{{#each artistTables}}
		<tr>
			{{#each this}}
			<td>
				<img class="artist" src="{{images.0.url}}" />
				<div class="underline">
					<div class="guess">
						<span>Artist:</span>
						<br />
						<br />
						<span>Sang:</span>
					</div>
					<br />
					<span class="artid">id: {{ id }}</span>
				</div>
			</td>
			{{/each}}
		</tr>
		{{/each}}
	</table>

	{{else}}
	<h2>Click refresh to make the bingorama happen!</h2>
	{{/if}}
</div>

<script></script>
