body {
	background-color: beige;
}

img.artist {
	width: 100%; /* width of container */
	height: 230px; /* height of container */
	overflow: hidden;
	margin: auto;
}
div.underline {
	background-color: whitesmoke;
}
div.guess {
	font-weight: bold;
}

span.artid {
	color: gray;
}

table {
	border: 4px solid black;
}
td {
	width: 240px;
	border: 2px solid black;
}

/* print styles */
@media print {
	header,
	footer,
	aside,
	nav,
	form,
	iframe,
	.menu,
	.hero,
	.adslot {
		display: none;
	}
	body {
		margin: 0;
		background-color: #fff;
	}
}
