body {
	background-color: beige;
}

img.artist {
	width: 100%; /* width of container */
	height: 200px; /* height of container */
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
div.underline {
	background-color: whitesmoke;
}
div.guess {
	font-weight: bold;
}

span.artid {
	color: gray;
	font-size: small;
}

table {
	border: 3px solid black;
}
td {
	width: 210px;
	border: 1px solid black;
}

/* print styles */
@media print {
	header,
	footer,
	aside,
	nav,
	form,
	iframe,
	.menu,
	.hero,
	.adslot,
	button,
	h1 {
		display: none;
	}
	body {
		margin: 0;
		background-color: #fff;
		font-size: small;
	}
	span.artid {
		color: darkgray;
		font-size: xx-small;
	}
	img.artist {
		width: 100%; /* width of container */
		height: 150px; /* height of container */
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}
